/////////////////////////////
// LOGO
.logo {
	height: 3.25rem;
	margin-left: 3rem;
} 


/////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    &__input {
        font-family: inherit;
		font-size: inherit;
		background-color: var(--color-grey-light-2);
		color: inherit;
        border: none;
        padding: .7rem 2rem;
		border-radius: 100px;
        width: 90%;
        transition: all .2s;
		        
        &:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}
    }

    &__button {

    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}

/////////////////////////////
// USER NAVIGIATION
.user-nav {
    &__icon-box {

    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem; 
    }

    &__notification {

    }

    &__user {

    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
    } 

    &__user-name {

    }
}